body {
  margin: 0;
  text-align: center;
  font-family: 'Pattaya', sans-serif;
}

h1 {
  color: #66BFBF;
  font-size: 80px;
  font-family: 'Indie Flower', cursive;
}

h2 {
  color: #66BFBF;
  font-weight: normal;
  font-family: 'Sacramento', cursive;
  font-size: 40px;
  margin-top: 0;
}

h3 {
  color: #11999E;
  font-family: 'Sacramento', cursive;
}

hr{
  border: dotted #aaffb4 6px;
  border-bottom: none;
  width: 5%;
}

a{
  text-decoration: none;
  padding: 10px 20px;
  color: #11999E;
}
a:hover {
  background-color: #30e3cb;
}
.top {
  background-color: #EAF6F6;
  position: relative;
  padding-top: 100px;
  margin-bottom: 0;
}

.middle-container {
  background-color: #EAF6F6;
  margin-top: 0;
}

.bottom-container {
  margin-bottom: 0;
  background-color: #66BFBF;
}
.bottom-container p{
  color: #EAF6F6;
  margin-top: 0;
  margin-bottom: 0;
}
.bottom-container h2{
  color: #EAF6F6;
}
.pro {
  font-size: 20px;
}

.top-cloud {
  position: relative;
  margin-left: 800px;
  margin-bottom: 0;
}

.bottom-cloud {
  margin-top: 0;
  margin-right: 800px;
}

.mountain{
  max-width: 100%;
}

.code-logos{
  width: 50%;
  width: 30%;

}

.cybersecurity{
  max-width: 100%;
  width: 30%;
}

.skill-row {
  width: 50%;
  margin: auto;
}

.btn {
  background: #11Cdd4;
  background-image: -webkit-linear-gradient(top, #11Cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11Cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11Cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11Cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11Cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bcd4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bcd4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bcd4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bcd4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bcd4ad);
  text-decoration: none;
}
